
<!-- <app-singlevalue></app-singlevalue> -->
 
<br/>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="arrayval">arraycomp</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/arrayval">Arraycomp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>

<div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">Column TWO way input
        <app-twoway (datafrommethod)="calltsinparent($event)"></app-twoway>
            
      </div>
      <div class="col">Trial Twoway 
        <app-trialtwoway (fromtrailop)="rootmethod($event)" ></app-trialtwoway>
      </div>
      <div class="col">Column
        IN APPPPP ROOT from app-twoway
        @for(v of tillnow; track v;let i =$index)
        {
            <br/>{{v}}
        }
      </div>
      <div class="col">Column
        IN APPPPP ROOT from app-traialtwoway
        @for(v of trialtillnow; track v;let i =$index)
        {
            <br/>{{v}}
        }
      </div>
      <div class="col">Registration form
        <app-registercompo (regdata)="regform($event)"></app-registercompo>
      </div>
      <div class="col">Column
        IN APPPPP ROOT from app-reggistration form
       
        @for(v of personarraytemp ; track v;let i =$index)
        {
           
            {{v}}
                
            
        }
    
      </div>
    </div>
  </div>
  <a routerLink="arrayval">try pa</a>
  <router-outlet />